@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-black;
  }

  body {
    @apply bg-black text-white min-h-screen;
    
  }
}


.stroke-text {
  -webkit-text-stroke: 1px white;
}


@keyframes shine {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-shine {
  animation: shine 2.5s ease-in-out infinite;
}

svg {
  display: inline;
}




